@font-face {
  font-family: "Avenir";
  font-weight: normal;
  font-style: normal;
  src: url('../font/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: normal;
  font-style: italic;
  src: url('../font/AvenirLTStd-BookOblique.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: bold;
  font-style: normal;
  src: url('../font/AvenirLTStd-Heavy.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: bold;
  font-style: italic;
  src: url('../font/AvenirLTStd-HeavyOblique.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: bolder;
  font-style: normal;
  src: url('../font/AvenirLTStd-Black.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: bolder;
  font-style: italic;
  src: url('../font/AvenirLTStd-BlackOblique.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: lighter;
  font-style: normal;
  src: url('../font/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: "Avenir";
  font-weight: lighter;
  font-style: italic;
  src: url('../font/AvenirLTStd-LightOblique.otf');
}
