extends base
block content
  .row
    {% for project in projects %}
    include partials/display_project
    {% endfor %}
    button.ui-dashboard-project-create-button: a(href="{% url 'profiles:create_project' %}") Create Project
