extends base
block content
  .row
    h1 Achievements
    {% for user_badge in user_badges %}
    p {{ user_badge.badge.name }}
    p {{ user_badge.badge.description }}
    {% endfor %}
    {% for project in projects %}
    include partials/display_project
    {% endfor %}
    button.ui-dashboard-project-create-button: a(href="{% url 'profiles:create_project' %}") Create Project
