extends base
block content
  section.row
    header.ui-masthead(role="banner")
      h1.ui-masthead-lead Professional Development for Students
      small.ui-masthead-subhead Share your growth, earn badges, be social.

    section.ui-content-area(role="main")

