extends base
block content
  section.row
    header.ui-masthead(role="banner")
      h1.ui-masthead-lead Professional Development for Students
      small.ui-masthead-subhead Build the <strong>u</strong> with Thmbprint.

    section.ui-content-area(role="main")
      header.ui-article-header
        h1 A New Career Portfolio
      article.ui-article-body
        p <strong>Thmbprint</strong> is an online career portfolio that promotes professional skill-set development by incorporating a digital badging system where users can socially share their achievements as they earn them.

      header.ui-article-header
        h1 How It Works
      article.ui-article-body
        p Thmbprint promotes skill-set development around five key areas that improve career success:
        ul.ui-article-list
            li.ui-article-list-element Communication
            li.ui-article-list-element Marketing
            li.ui-article-list-element Hard-Skills
            li.ui-article-list-element Networking
            li.ui-article-list-element Financial
         p Collect, display and share your earned badges and let potential employers and friends know about your accomplishments.

      a.ui-call-to-action-button Get Started



