{% load admin_urls %}
nav.top-bar
  ul.title-area
    li.name
      h1: a(href="{% url 'LaunchpadProfiles.views.home' %}")Launchpad Profiles
      li.toggle-topbar.menu-icon: a(href="#"): span Menu

  section.top-bar-section
    ul.right
      li.divider
      {% if user.is_authenticated %}
      li: a(href="{% url 'dashboard' user.id %}") Dashboard
      {% else %}
      li: a(href="{% url 'login' %}") Login
      li.divider
      li: a(href="{% url 'register' %}") Signup
      {% endif %}
      li.divider
      li: a(href="{% url 'about' %}") About
      li.divider
      li: a(href="{% url 'support' %}") Support
      {% if user.is_staff %}
      li.divider
      li: a(href="{% url opts|admin_urlname:'index' %}") Admin
      {% endif %}
